# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env

# OS system files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Build files
dist/
build/

# Optional npm cache
.npm/

# MongoDB dump files
dump/
